html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 50px 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.jp-header {
	background-color : #EFEFEF;
	padding : 20px 10px;
	border-bottom : 1px solid #999;
}

.container .text-muted {
	margin: 20px 0;
}

#footer>.container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

.bs-callout-danger {
	background-color: #FDF7F7;
	border-color: #EED3D7;
}

.bs-callout {
	border-left: 3px solid #EEEEEE;
	margin: 20px 0;
	padding: 20px;
}

.bs-callout-danger h4 {
	color: #B94A48;
}

.bs-callout h4 {
	margin-bottom: 5px;
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.highlight {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	border-radius: 4px;
	display: block;
	margin-bottom: 14px;
	padding: 9px 14px;
}

.highlight pre {
	background-color: rgba(0, 0, 0, 0);
	border: 0 none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	white-space: nowrap;
}

.highlight pre code {
	color: #333333;
	font-size: inherit;
}

.highlight pre {
	white-space: nowrap;
}